@charset "utf-8";
/* CSS Document */


*{
	font-family: 'Open Sans', sans-serif;
	box-sizing:border-box;
	vertical-align:top;
	-webkit-tap-highlight-color: transparent;
	}
body{
	margin:0 auto;
	border:0;
	width:100%;
	overflow-x:hidden;
}
a {
	text-decoration:none;}
.clear{
	clear:both;}
.hover-a:hover{
	opacity:0.8;
	cursor:pointer;
	transition:.15s ease-in-out;
}
.white-text{
	color:white;}
.blue-text{
	color:#2b2b88;
		}
.blue-bg{
	background-color:#2b2b88;
}
.white-bg{
	background-color:white;}
.light-grey {
    color: #888888;}
.width100{
	width:100%;}
.overflow{
	overflow:hidden;}
.float-left{
	float:left;}
.float-right{
	float:right;}		
.text-center{
	text-align:center;}	
.div-center{
	margin-left:auto;
	margin-right:auto;}
.margin-auto{
	margin-left:auto;
	margin-right:auto;}
.clean:focus{	
	outline: none !important;
	outline-offset: 0  !important;
}
.clean:selected{
	outline: none !important;
	outline-offset: 0  !important;
}
.clean:active{
	outline: none !important;
	outline-offset: 0  !important;
}
.clean::selection {	
	outline: none !important;
	outline-offset: 0  !important;
}
.clean2{
	-webkit-box-shadow:none !important;
	box-shadow:none !important;		
}
.clean2:selected{
	outline: none !important;
	outline-offset: 0  !important;
	-webkit-box-shadow:none !important;
	box-shadow:none !important;	
}
.clean2:focus{
	outline: none !important;
	outline-offset: 0  !important;
	-webkit-box-shadow:none !important;
	box-shadow:none !important;	
}
.clean2:active{
	outline: none !important;
	outline-offset: 0  !important;	
	-webkit-box-shadow:none !important;
	box-shadow:none !important;
}
.clean2::selection {	
	outline: none !important;
	outline-offset: 0  !important;
	-webkit-box-shadow:none !important;
	box-shadow:none !important;
}
.pointer:hover{
	cursor:pointer;}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px #fafeff inset !important;
}
.text-overflow{
    text-overflow: ellipsis;
    white-space: nowrap;
	overflow:hidden;
}
.height100{
	height:100%;}
.transparent-button{
	background-color:transparent;
	border:0 !important;}
/*Dropdown*/
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  border-radius: 5px;
  right: 0;
  position: absolute;
  background-color: white;
  min-width: 250px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 8px 16px;
  z-index: 1;
  color:black;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-a{
	color:black;
	margin-left:5px;}
.dropdown-img{
	margin-right:10px;
	width: 10px;}
/*End of Dropdown*/
.dropdown-img2{
	vertical-align: bottom;
	margin-right:10px;
	margin-left:0;
}
.dropdown-p:hover{
	color:#7ecbc8;
	transition:.15s ease-in-out;
	cursor:pointer;}
.dropdown-a:hover{
	color:white;
	transition:.15s ease-in-out;
	cursor:pointer;}
.dl-menuwrapper{
	display:none;}
		
/* The Modal (background) */
.modal-css {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 999999; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

/* Modal Content */
.modal-content-css {
  background-color: white;
  margin: auto;
  padding: 20px;
  margin-top:10vh;	
  width: 80%;
  border-radius: 10px;
}

/* The Close Button */
.close-css {
  color: #b9984e;
  float: right;
  font-size: 42px;
  font-weight: bold;
  margin-top: -10px;
}

.close-css:hover,
.close-css:focus {
  color: #99772b;
  text-decoration: none;
  cursor: pointer;
}	
.same-padding{
	padding-left:7.5%;
	padding-right:7.5%;}	
.opacity-hover{
	opacity:0.8;
	transition:.15s ease-in-out;}
.opacity-hover:hover{
	cursor:pointer;
	opacity:1;
	}
/* Menu */
@keyframes swing {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(10deg);
  }
  30% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(0deg);
  }
  60% {
    transform: rotate(5deg);
  }
  70% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes sonar {
  0% {
    transform: scale(0.9);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}
.transparent-btn{
	border:0;
	background-color:transparent;}
.page-wrapper .sidebar-wrapper,
.sidebar-wrapper .sidebar-brand > a,
.sidebar-wrapper .sidebar-dropdown > a:after,
.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a:before,
.sidebar-wrapper ul li a i,
.page-wrapper .page-content,
.sidebar-wrapper .sidebar-search input.search-menu,
.sidebar-wrapper .sidebar-search .input-group-text,
.sidebar-wrapper .sidebar-menu ul li a,
#show-sidebar,
#close-sidebar {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}


/*----------------toggeled sidebar----------------*/

.page-wrapper.toggled .sidebar-wrapper {
    right: 0px;
    -webkit-box-shadow: 5px 0px 15px 5px rgb(185 78 111 / 32%);
    box-shadow: 5px 0px 15px 5px rgb(185 78 111 / 32%);
}


/*----------------show sidebar button----------------*/
#show-sidebar {
  position: fixed;
  right: 8%;
  top: 7vh;
  width: 35px;
  transition-delay: 0.3s;
}
.page-wrapper.toggled #show-sidebar {
  right: -40px;
}
/*----------------sidebar-wrapper----------------*/

.sidebar-wrapper {
  width: 220px;
  height: 100%;
  max-height: 100%;
  position: fixed;
  top: 0;
  right: -300px;
  z-index: 999;
}

.sidebar-wrapper ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar-wrapper a {
  text-decoration: none;
}

/*----------------sidebar-content----------------*/

.sidebar-content {
  max-height: calc(100% - 30px);
  height: calc(100% - 30px);
  overflow-y: auto;
  position: relative;
}

.sidebar-content.desktop {
  overflow-y: hidden;
}




/*----------------------sidebar-menu-------------------------*/


.sidebar-wrapper .sidebar-menu .header-menu span {
  display: inline-block;

}

.sidebar-wrapper .sidebar-menu ul li a {
  display: inline-block;
  width: 100%;
  text-decoration: none;
  position: relative;
}


.sidebar-wrapper .sidebar-menu ul li a:hover > i::before {
  display: inline-block;
  animation: swing ease-in-out 0.5s 1 alternate;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown > a:after {
 
  display: inline-block; 
  position: absolute;
  right: 15px;
  top: 14px;
}
.sidebar-wrapper .sidebar-menu ul li a span.label,
.sidebar-wrapper .sidebar-menu ul li a span.badge {
  float: right;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a .badge,
.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a .label {
  float: right;
}

.sidebar-wrapper .sidebar-menu .sidebar-submenu {
  display: none;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown.active > a:after {
  transform: rotate(90deg);
  right: 17px;
}
/* End of Menu */
.menu-icon {
    width: 30px;
	margin-left:5px;
}
.sidebar-wrapper {
    background-color: #b9984e;
    min-height: 100vh;
    overflow-y: auto;
    padding-bottom: 50px;
}
.close-icon{
	margin-top:10px;}
.sidebar-menu {
    padding: 10px;
}
.padding-tb10 {
    padding-bottom: 40px;
	background: transparent !important;
}
.more-icon {
    width: 15px;
    margin-right: 5px;
}
.bold-menu{
	font-weight: 700;
	color: white;}
.swing-hover:hover .swing{
	animation: swing ease-in-out 0.5s 1 alternate;}
.white-to-tur{
	color:#ffe1ea;
	transition:.15s ease-in-out;}
.white-to-tur:hover{
	color:white;
	cursor:pointer;}
.sidebar-submenu li {
    margin-left: 25px;
    font-size: 14px;
}

/*Start */
.tur-bg{
	background-color:#48b5bd;}
/*.min-height100{
	min-height:100vh;}*/
.dark-tur-bg{
	background-color:#087ba5;
	}
.force-bottom{
	height:10px;}
.login-h1 {
    margin-top: 0;
    font-weight: 300;
	font-size: 18px;
}
.login-h1 b {
    font-size: 27px;
	vertical-align: baseline;
}
.light-tur-text{
	color:#b9984e;
}
.ann-date-p {
    font-size: 12px;
    margin-top: 0;
}
.margin-auto{
	margin-left:auto;
	margin-right:auto;}

.login-div {
    width: 400px;
	margin-top: 30px;
}
.fake-input-div {
    width: 100%;
    margin-bottom: 20px;
    border: 0;
    padding: 5px 10px;
    border-radius: 32px;
    background-color: #ffffff8c;
}
.input-icon {
    width: 30px;
}
input:-internal-autofill-selected {
    background-color: #00000000 !important;
	font-size:18px !important;
	color:#005f82 !important;}
.input-css {
    background: transparent;
    background-color: transparent;
    border: 0;
}

.dark-tur-text2{
	color:black;}
.icon-input {
    width: calc(100% - 35px);
}
.input-css {
    font-size: 18px;
	vertical-align: super;
}
.password-input {
    width: calc(100% - 35px);
}
.forgot-p {
    margin-top: 0;
}
.before-forgot {
    margin-bottom: 5px;
}
.forgot-a {
    font-size: 12px;
}
.dark-tur-link{
	color:#b9984e;
	transition:.15s ease-in-out;}
.dark-tur-link:hover{
	cursor:pointer;
	color:#99772b;}
.center-logo {
    width: 150px;
}
.dark-tur-text{
	color:#b9984e;
}
.white-button {
    width: 100%;
    border: 0;
    background-color: white;
    font-size: 18px;
    padding: 10px;
    border-radius: 32px;
	transition:.15s ease-in-out;
}
.white-button:hover{
	cursor:pointer;
	background-color:#077da7;
	color:white;	
}
.yellow-button {
    width: 100%;
    border: 0;
    background-color: #ffca0d;
    font-size: 18px;
    padding: 10px;
    border-radius: 32px;
	transition:.15s ease-in-out;
}
.yellow-button:hover{
	cursor:pointer;
	background-color:#f4ba00;
	
}
.signup-p {
    font-size: 14px;
}
.light-green-link{
	color:#ce6887;
	transition:.15s ease-in-out;
}
.light-green-link:hover{
	color:#b9984e;
	cursor:pointer;
}
.white-border {
    width: 120px;
    height: 3px;
    background-color: white;
    margin-bottom: 30px;
}
.dark-tur-bg3{
	background-color:#04637d;	
}
.signup-p2{
	color:black;}
.input-css2{
	width:100%;
	padding-left:15px;
	padding-right:15px;}
.password-input2 {
    padding-left: 15px;
}
.center-logo2{
	width:70px;}
.margin-top30{
	margin-top:30px;}
.margin-bottom0{
	margin-bottom:0 !important;}
.small-success {
    margin-top: 10px;
    margin-bottom: 20px;
}
.small-icon {
    width: 20px;
}
.green-button {
    border: 0;
    background-color: #7fd0d7;
	transition:.15s ease-in-out;
}
.green-button:hover {
	cursor:pointer;
    border: 0;
    background-color: #93e0e2;
}
.invite-btn{
    padding: 2px 10px;
    border-radius: 2px;
    margin-left: 10px;}
.extra-margin-left{
	margin-left:25px;}
.profile-table {
    color: black;
    font-size: 14px;
}
.right-profile-div {
    display: inline-block;
    width: 100px;
	margin-right:45px;	
	float:right;
}
.left-profile-detail {
	float:left;
    display: inline-block;
    width: calc(100% - 150px);
}
.left-profile-detail2{
	width:auto;
	max-width: calc(100% - 150px);
	}
.profile-img-div {
    width: 100px;
    height: 100px;
	text-align: center;
}
.profile-pic{
	max-width:100px;
	max-height:100px;
	object-fit:contain;
	    padding: 5px 0;
    width: 100%;}
.edit-icon {
    width: 12px;
    margin-right: 10px;
    margin-top: 5px;
}
.line-button {
    text-align: center;
    color: white;
	background-color:#b9984e;
    border-radius: 20px;
    padding: 5px 0;
    width: 100%;
	transition:.15s ease-in-out;
	margin-top: 10px;
	font-size: 14px;
}
.line-button:hover{
	background-color:#99772b;	
}
.sidebar-submenu li {
    margin-bottom: 25px;
    margin-top: 25px;
}
.brown-text{
	color:#633f3f;	
}
.four-div {
    width: 16.5%;
    display: inline-block;
    margin-right: 3%;
    margin-bottom: 30px;
}
.green-border-box {
    border: 8px solid #48b5bd;
    padding: 8px;
	text-align: center;
-webkit-box-shadow: 10px 10px 25px -7px rgba(0,0,0,0.52);
-moz-box-shadow: 10px 10px 25px -7px rgba(0,0,0,0.52);
box-shadow: 10px 10px 25px -7px rgba(0,0,0,0.52);
}
.green-border-box  p{
	color:#ffca0d;
	margin:0;
	padding-bottom:5px;
	font-size:13px;
	min-height: 40px;
	text-shadow: 2px 2px 4px #000000;}
.inner-green-box{
	transition:.15s ease-in-out;
	padding: 5px;
	background-color: white;
    border-radius: 15px;
	text-align: center;}
.inner-green-box img {
    width: 80%;
	padding-bottom:0 !important;}
.green-border-box:hover .inner-green-box{
	background-color:#48b5bd;}
.red-dot1{
	position:absolute;
	width:15px;
	height:15px;
	border-radius:50%;
	background-color:#ff0059;}
.inner-green-box p {
    margin-top: 5px;
    min-height: 42px;
}
.inner-green-box img{
	padding:10%;
	vertical-align: top;
    object-fit: contain;}
/*.min-sp-height{
	min-height:calc(100vh - 200px);
	padding-bottom: 20px;}*/
.yellow-bg{
	background: white;
   
}
.five-div {
    display: inline-block;
    width: calc(49% - 4px);
	text-align: center;
	border-right: 2px solid #ff7ca8;
    border-radius: 2px;
}
.height-div{}
.footer-menu{
	display:none;
	padding: 3px 0;
	position: fixed;
    bottom: 0;}
.footer-img {
    width: 30px;
}
.top-title {
    text-align: center;
    margin: 0;
    font-weight: 900;
	font-size: 27px;
    margin-top: -1px;
	float: left;
    width: calc(100% - 58px);
	padding-left:58px;
	color: #b9984e !important;
}
/*.brown-border {
    width: 50px;
    background: rgb(166,135,90);
	background: linear-gradient(90deg, rgba(166,135,90,1) 0%, rgba(108,70,24,1) 50%, rgba(166,135,90,1) 100%);
    margin: 0 auto;
    margin-top: 10px;
	height:2px;
}*/
.xx .brown-text{
	text-align:center;
	margin:0;}
.xx .four-div{
	opacity:0.85;
	cursor:pointer;
	transition:.15s ease-in-out;}
.xx .four-div:hover{
	opacity:1;}
.profile-cover-div {
    text-align: center;
	padding-top: 10px;
    padding-bottom: 10px;
}
.profile-cover-div .profile-img-div {
    margin-left: auto;
    margin-right: auto;
}
.profile-cover-div .line-button {
    width: 120px;
    margin-left: auto;
    margin-right: auto;
}
.ranking-h3 {
    color: white;
    margin-bottom: 0;
}
.info-p2 {
    margin-top: 5px;
    margin-bottom: 0;
    font-size: 14px;
}
.light-tur-bg{
	background-color:#7fd0d7;}
.profile-min-height{
	min-height:calc(100vh - 318px);}
.padding-top2{
	padding-top:30px;
	padding-bottom:30px;}
.white-card-div {
    width: 550px;
    overflow: hidden;
    background-color: white;
    clear: both;
    margin-left: auto;
    margin-right: auto;
	padding-left: 20px;
    border-left: 10px solid #633f3f;
	padding-right: 20px;
	margin-bottom: 10px;
}
.card-left-p {
    font-weight: 700;
    float: left;
    width: 350px;
}
.white-card-div .line-button {
    float: right;
    width: 100px;
	color: #white;;
}
.white-card-div .line-button:hover{
	color:white;}
.fixed-bar {
    position: fixed;
    top: 6vh;
    height: 50px;
    z-index: 999;
}
.left-logo {
    height: 50px;
	float:left;
}
.padding-top48{
	padding-top:48px;}
.normal-min-height {
    min-height: calc(100vh - 10px);
}
.rec-input {
    width: 500px;
    text-align: center;
    margin-left: calc(50% - 250px);
    clear: both;
    margin-bottom: 20px;
    background-color: white;
    border: 1px solid #b9984e;
    font-size: 16px;
    padding: 10px;
}
.fake-input-div2{
    width: 500px;
    margin-left: calc(50% - 250px);
    clear: both;
    margin-bottom: 20px;
	border: 1px solid #b9984e;	
	padding: 10px;
	overflow:hidden;
	background-color:white;	
}
.fake-input-div2 .rec-input {
	display:inline-block;
	margin:0;
	border:0;
	background-color:transparent;
	padding:0;
	padding-left:27.5px;
	width: calc(100% - 25px);
}
.fake-input-div2 .view-icon{
	width:20px;
	}
.edit-profile-width{
	width:500px;}
.yellow-btn {
    background-color: #b9984e;
    border: 0;
    color: white;
    font-weight: 700;
    font-size: 18px;
    padding: 10px;
    border-radius: 20px;
	transition:.15s ease-in-out;
}
.yellow-btn:hover{
	background-color:#99772b;
	color:white;
	cursor:pointer;	
}
.edit-profile-width {
    width: 500px;
    margin-left: calc(50% - 250px);
}
.upload-h1 {
    text-align: center;
    color: #b9984e;
	font-size:24px;
}
.upload-modal-content{
	width:400px;}
.file-css {
    margin-left: calc(50% - 130px);
    margin-bottom: 50px;
}
.small-btn {
    width: 200px;
    margin-left: calc(50% - 100px);
}
.details-min-height {
        min-height: calc(100vh - 325px);
}
.center-div2{
	text-align:center;}
.center-icon{
	width:150px;}
.center-div-h3 {
    color: #633f3f;
    font-weight: 800;
	margin-bottom: 10px;
    font-size: 24px;
}
.value-h1 {
    font-weight: 900;
    font-size: 56px;
    margin-top: 0;
}
.note-p3 {
    font-size: 14px;
    font-weight: 700;
}
.extra-padding-tb{
	padding-top:63px;
	padding-bottom:15px;}
.overflow-auto{
	overflow-x:auto;}
.three-btn-row {
    width: 150px;
    display: inline-block;
}
.yellow-hover-bg{
	transition:.15s ease-in-out;
	cursor:pointer;
	background-color:#b9984e;
	color:white;}
.yellow-hover-bg:hover{
	background-color:#99772b;
	}
.green-hover-bg{
	transition:.15s ease-in-out;
	cursor:pointer;
	background-color:#b9984e;
	color:white;}
.green-hover-bg:hover{
	background-color:#99772b;
}
.pill-button {
    padding: 5px 0;
    font-size: 14px;
    border-radius: 20px;
	font-weight: 600;
}
.mid-btn-row {
    margin-left: 20px;
    margin-right: 20px;
}
.overflow-x {
    overflow-x: auto;
}
.tur-table{
	border:1px solid #b9984e;
	border-collapse:collapse;
	text-align:left;}
.tur-table th{
	background-color:#b9984e;
	color:white;
	padding: 5px;}
.tur-table td{
	background-color:white;
	border-bottom:1px solid #b9984e;
	color:black;
	padding: 5px;}
.notice-modal-content {
    width: 55%;
}
.stock-text-top {
    margin-top: 40px;
    margin-bottom: 0;
}
.stock-text-bottom {
    margin-top: 0;
	margin-bottom: 0;
}
.icon-size{
	width:25px;}
.btn-p{
	margin:0 10px;
	float:left;}
.oz-btn {
    float: left;
    border: 0;
    cursor: pointer;
    background-color: #b9984e;
    color: white;
    width: 25px;
    height: 25px;
    border-radius: 15px;
	transition:.15s ease-in-out;
}
.oz-btn:hover{
	background-color:#99772b;}
.text-area-height{
	min-height:150px;}
::selection {
  background: #b9984e !important;
  color:white !important; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #b9984e !important; /* Gecko Browsers */
  color:white !important;
}
.white-space{
	white-space:nowrap;}
.ann-title-p{
	font-weight:800;
	font-size: 18px;
    margin-bottom: 0;}
.middle-center-button {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}
.inline-block{
	display:inline-block;}
.five-btn {
    width: 18%;
    float: left;
    margin-right: 2.5%;
	margin-bottom: 15px;
}
.last-five-btn{
	margin-right:0 !important;}
.product-ul{
    width: 700px;
    text-align: left;
    margin: 0 auto;
}
.product-image2 {
    width: 350px;
}
.product-img-box{
position: absolute !important;
    width: 100% !important;
    height: 100% !important;
    overflow: hidden !important;}
.square{
	position:relative;}
.square:after {
    content: "" !important;
    display: block !important;
    padding-bottom: 100% !important;
}
.mid-cen{
	width:300px;
	margin:30px auto;}
/*.login-bg{
	background-image:url(../img/login-bg.jpg);
	background-position:center;
	background-size:cover;}*/
.width103 {
    padding-bottom: 25px;
}
.margin-auto{
	margin-left:auto;
	margin-right:auto;}
.border-frame {
    border: 3px solid #ab8d60;
    border-radius: 30px;
    width: 98%;
    height: 96vh;
    position: fixed;
    margin-top: 2vh;
    margin-left: 1%;
}
.padding-top-bottom{
	padding-top:5vh;
	padding-bottom:5vh;}
.red-text{
	color:#b9984e;}
/*.inner-bg{
	background-image:url(../img/inner-bg.jpg);
	background-position:bottom;
	background-size:cover;
	overflow:hidden;
	background-repeat: no-repeat;}
.inner-padding {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;}*/
.ow-green-card-css{
	border-left: 10px solid #633f3f;
    background-color: #b9984e;
	color:white;
}
.margin-top17{
	margin-top:17px;}
.clean-button{
	border:0;
	cursor:pointer;}
::-webkit-input-placeholder { /* Edge */
  color: #464646 !important;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #464646 !important;
}

::placeholder {
  color: #464646 !important;
}
.fixed-bg1 {
    background-color: white;
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: -999999;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 4vh;
    padding-bottom: 4vh;
}
.fixed-bg2{
	background-color:#ffe7e6;
    width: 100%;
    height: calc(100vh - 8vh);
    border-radius: 30px;	
	}
.product-bottom {
    position: fixed;
    bottom: 0;
    z-index: -99999;
    width: 100%;
}
#main-start {
    top: calc(4vh + 70px);
    height: calc(96vh - 80px);
    overflow: auto;
    position: fixed;
    width: 100%;
    padding-bottom: 80px;
}
.ow-red-bg{
	background-color:#b9984e;}
.ow-red-bg:hover{
	background-color:#99772b;}
.ow-card-right-p {
    float: none;
    width: 100px !important;
    text-align: right;
    display: inline-block;
}
.ow-flex-three{
	width:30.5% !important;}
.ow-mid-flex{
	margin-left:3% !important;
	margin-right:3% !important;}
.width550-div{
	width:550px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom: 30px;}
.ow-left-card-p{
	float:none;
	width: calc(100% - 105px) !important;
    text-align: left;
    display: inline-block;}
.ow-float-right2 p, .ow-float-right2  h3{
	text-align:left;}
.ow-float-none{
	float:none !important;}
.ow-margin-bottom10{
	margin-bottom:10px !important;}
.width-auto{
	width:auto !important;}
.margin-0{
	margin:0 !important;}
.margin-top-3{
	margin-top:-3px !important;}
.margin-right0{
	margin-right:0 !important;}
.border-right0{
	border-right:0 !important;}
.margin-top30{
	margin-top:30px;}
.ow-product-ul {
    width: 300px !important;
}
.ow-float-right2{
	float:right;}
.ow-float-left2{
	float:left;}
.ow-margin-left0{
	margin-left:0 !important;}
.ow-font-weight400{
	font-weight:400 !important;}
.ow-width100{
	width:100% !important;}
.ow-margin-bottom30{
	margin-bottom:30px !important;}
.ow-width-45{
	width:47.5% !important;
	display:inline-block;}
.ow-second-45{
	margin-left:calc(4% - 2px) !important;}
.inner-green-box p {
    font-size: 13px;
    margin-top: 10px !important;
}
.footer-pa {
    color: #b6b8ba;
    margin: 0;
    font-size: 12px;
}
.footer-img {
    width: 20px;
}
.pink-text{
	color: #fa8aa2 ;}
.three-div11 {
    width: calc(32% - 2px) !important;
}
.margin-top3 {
    margin-top: 3px;
}
.pink-link {
    text-decoration: underline;
    color: #ff2769;
	transition:.15s ease-in-out;
	cursor:pointer;
}
.pink-link:hover{
	color:#ec0048;
	}
.tutorial-img{
	box-shadow: 0px 0px 25px 4px rgba(255,208,208,0.95);
-webkit-box-shadow: 0px 0px 25px 4px rgba(255,208,208,0.95);
-moz-box-shadow: 0px 0px 25px 4px rgba(255,208,208,0.95);
    width: 100%;
	margin-top:30px;
	margin-bottom:50px;}
@keyframes move-background {
  from {
    -webkit-transform: translate3d(0px, 0px, 0px);
  }
  to {
    -webkit-transform: translate3d(1000px, 0px, 0px);
  }
}
@-webkit-keyframes move-background {
  from {
    -webkit-transform: translate3d(0px, 0px, 0px);
  }
  to {
    -webkit-transform: translate3d(1000px, 0px, 0px);
  }
}
@-moz-keyframes move-background {
  from {
    -webkit-transform: translate3d(0px, 0px, 0px);
  }
  to {
    -webkit-transform: translate3d(1000px, 0px, 0px);
  }
}
@-webkit-keyframes move-background {
  from {
    -webkit-transform: translate3d(0px, 0px, 0px);
  }
  to {
    -webkit-transform: translate3d(1000px, 0px, 0px);
  }
}
.background-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width:100%;
  min-height:100vh;
  z-index:-3;
}

.stars {
  background: black url(../img//stars.png) repeat;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  z-index: 0;
}

.twinkling {
  width: 10000px;
  height: 100%;
  background: transparent url(../img/twinkling.png) repeat;
  background-size: 1000px 1000px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  -moz-animation: move-background 70s linear infinite;
  -ms-animation: move-background 70s linear infinite;
  -o-animation: move-background 70s linear infinite;
  -webkit-animation: move-background 70s linear infinite;
  animation: move-background 70s linear infinite;
}

.clouds {
  width: 10000px;
  height: 100%;
  background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/clouds_repeat.png") repeat;
  background-size: 1000px 1000px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
  -moz-animation: move-background 150s linear infinite;
  -ms-animation: move-background 150s linear infinite;
  -o-animation: move-background 150s linear infinite;
  -webkit-animation: move-background 150s linear infinite;
  animation: move-background 150s linear infinite;
}

.flower-img1 {
	width:100px;
  position: absolute;
  z-index: 3;
  left: 0px;
  top:0;
}
.flower-img2 {
	width:100px;
  position: absolute;
  z-index: 3;
  right: 0px;
  bottom:0;
}
.logo {
    width: 250px;
    margin-top: 50px;
}
.first-flex {
    width: 104%;

}
.ow-flex-three2 {
	width:29%; 
    margin-right: calc(2.5% - 1px);
    margin-bottom: 30px;
	display:inline-block
}
.three-div-inner img {
    display: none;
}
.three-div-inner {
    text-align: center;
    background-color: #1a1a1a;
	padding: 40px 10px;
	transition:0.15s ease-in-out;
	box-shadow: 0 0 12px 3px rgba(255,249,140,0.36);
-webkit-box-shadow: 0 0 12px 3px rgba(255,249,140,0.36);
-moz-box-shadow: 0 0 12px 3px rgba(255,249,140,0.36);
    padding-bottom: 0;
    min-height: 130px;
}
.three-div-inner:hover {
	box-shadow: 0 0 12px 3px rgba(255,249,140,0.5);
-webkit-box-shadow: 0 0 12px 3px rgba(255,249,140,0.5);
-moz-box-shadow: 0 0 12px 3px rgba(255,249,140,0.5);
}
.gold-text{
	color:#b9984e;}
.three-div-p{
	margin:0;}
.padding-top30{
	padding-top:30px;}
.scroll-div{
	overflow:auto;}
.gold-table{
	min-width:100%;
	border-collapse:collapse;
	margin-top:20px;
}
.gold-table thead {
    background-color: #2e271f;
    color: #b9984e;
}
.gold-table th, .gold-table td {
    border: 1px solid #b9984e;
    padding: 5px 5px;
    font-size: 12px;
	color:#b9984e;
	text-align:center;
}
.gold-table u{
	font-size: 12px;
	}
.gold-table th{
	font-weight:900;}
.view-link{
	font-weight:700;
	background:transparent;
	cursor:pointer;
	border:0;
	transition:0.15s ease-in-out;
	color:#dfdfdf;
	}
.view-link:hover{
	
	color:white;
	}
.gold-table tr:nth-child(odd) td{
	background-color:black;
}
.gold-table tr:nth-child(even) td{
    background-color: #323232;
}
::placeholder {
  color: #565656;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: #565656;
}

::-ms-input-placeholder { /* Microsoft Edge */
 color: #565656;
}
.acc-p {
    margin-top: 0;
}
.dual-input {
    width: 45%;
    float: left;
    margin-bottom: 20px;
}
.second-dual-input{
	margin-left:10%;}
.top-p {
    color: #bbbbbb;
    font-size: 12px;
    margin: 0;
}
.line-input {
    width: 100%;
    background: transparent;
    border: 0;
    border-bottom: 1px solid white;
    color: white;
    padding-left: 0;
    font-size: 14px;
    margin-top: 5px;
}
.middle-div-width {
    width: 300px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
.ow-padding-bottom30{
	padding-bottom:30px !important;}
.ow-text-left-table td, .ow-text-left-table th{
	text-align:left !important;}
.white-link{
	transition:0.15s ease-in-out;
	cursor:pointer;
	color:#bbbbbb;
	padding: 0;}
.white-link:hover{
	color:white;}
.red-link2 {
    color: #ff3d00;
	transition:0.15s ease-in-out;
	cursor:pointer;
	padding: 0;
}
.red-link2:hover {
    color:#ff5018;}
.left-form{
	display:inline-block;}
.right-form{
	display:inline-block;
	margin-left:5px;}
.smaller-button {
    padding: 5px !important;
    font-size: 16px !important;
}
.line-input option {
    color: black;
}
.small-term {
    font-size: 12px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
.ow-border0{
	border:0 !important;}
.padding-bottom30{
	padding-bottom:30px;}
.ref-link {
    font-weight: 400;
    font-size: 16px;
    color: #00b7a9;
    text-decoration: underline;
	cursor:pointer;
	transition:0.15s ease-in-out;
	word-break: break-all;
}
.ref-link:hover{
	color:#009f92;
	}
.same-dual-button {
    width: 180px;
    padding: 10px;
    border: 0;
    border-radius: 5px;
	transition: 0.15s ease-in-out;
	cursor:pointer;
	font-size: 16px;
	margin-top:20px;
}
.left-button {
    margin-right: 20px;
    background-color: #ff9900;
}
.left-button:hover {
	background-color: #f19100;
}
.right-button {
    background-color: #00b7a9;
	color:white !important;
	display: inline-block;
}
.right-button:hover {
    background-color: #009f92;
}
.square {
  position: relative !important;

}

.square:after {
  content: "" !important;
  display: block !important;
  padding-bottom: 100% !important;
}

.content {
  position: absolute !important;
  width: 100% !important;
  height: 100% !important;
  overflow: hidden !important;
}
.content a, .content img{
	height:100% !important;
	width: 100% !important;
    object-fit: contain;}
.product-box1{
	width:calc(22% - 5px);
	margin-right:3%;
	display:inline-block;
	margin-bottom:30px;
	background-color: white;
    overflow: hidden;
}
.product-details-div {
    padding: 10px 5px;
    color: black;
}
.product-p {
    height: 46px;
    overflow: hidden;
    font-size: 16px;
	margin:0;
}
.price-p {
    margin: 0;
    color: #b9984e;
    font-size: 16px;
}
.quantity-field {
    border: 0;
    font-size: 21px;
    width: calc(100% - 80px);
    text-align: center;
	padding-left: 15px;}
.input-group {
    margin-top: 10px;
}
.math-button {
	cursor:pointer;
	transition:0.15s ease-in-out;
    border: 0;
    background-color: #f1b52f;
    color: white;
    padding: 3px 10px;
    font-size: 18px;
    border-radius: 20px;
}
.math-button:hover{
	background-color: #b9984e;
}
.button-minus {
    padding: 3px 13px;
}
.fixed-bottom-div {
    bottom: 20px;
    position: fixed;
	text-align:center;
}
.cart-button {
    width: 300px;
}
.main-start2 {
    height: calc(96vh - 210px) !important;}
.per-product-div {
    width: 100%;
    overflow: hidden;
    color: white;
    border: 1px solid;
	display:flex;
	border-top: 0;
}
.per-product-div2{
	border-top:1px solid white;	
}
.left-cart-img-div {
    width: 100px;
	border-right: 1px solid white;
    
}
.left-product-details {
   
    border-right: 1px solid white;
	width:calc(100% - 270px);
}
.middle-product-details {
    
    border-right: 1px solid white;
	width: 60px;
}
.last-product-details {

    width: 100px;
}
.fake-table-header {
    margin: 0;
    font-weight: 900;
    font-size: 16px;
    padding-left: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
}
.left-cart-img-div2 {
    padding: 5px;
}
.product-table-p {
    margin: 0;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 16px;
    padding-right: 10px;
}
.delete-png {
    width: 20px;
}
.delete-button {
    background: transparent;
    border: 0;
	cursor:pointer;
	transition:0.15s ease-in-out;
    color: #ff9393;
	opacity:0.85;
	font-size: 18px;
}
.delete-button:hover{
	opacity:1;}
.right-delete-div{
	width:100%;
	text-align:right;
	overflow:hidden;
	margin-bottom: 8px;}
.price2-div {
    width: calc(100% - 110px);
    border-right: 1px solid white;
}
.total-p{
	text-align:right;
	font-weight:900;}
.margin-top-5px{
	margin-top:5px;}
.thankyou-p {
    font-size: 21px;
}
.thankyou-div {
    width: 470px;
    text-align: justify;
    text-align-last: center;
    margin: 0 auto;
}
.thankyou-png {
    width: 150px;
}
.empty {
    width: 120px;
}
.color-a{
	cursor:pointer;
	transition:.15s ease-in-out;
    color: white;
    text-decoration: underline;
}
.color-a:hover{
	color:#fbdeb5;}
a:focus{
 outline:none !important;
 }
@media all and (max-width: 1500px){
.fixed-bg1{
	padding-top: 3vh;
    padding-bottom: 3vh;
}
.fixed-bg2{
	height:94vh;}	
}
@media all and (max-width: 1200px){
.five-btn {
    width: 30%;
    float: none;
    display: inline-block;
    margin-right: calc(3.33% - 5px);}	
.fixed-bg1{
	padding-top: 2vh;
    padding-bottom: 2vh;
}
.fixed-bg2{
	height:96vh;}	
.product-p {
    height: 42px;
    font-size: 14px;}
.price-p{
	font-size: 14px;}
}
@media all and (max-width: 1100px){
.four-div {
    width: 21.5%;}
.top-title {
    font-size: 24px;
	margin-top: 8px;
}	
}
@media all and (max-width: 1000px){
.flower-img1, .flower-img2 {
    width: 70px;}
.product-box1 {
    width: calc(31% - 5px);
    margin-right: 2%;}
.product-p {
    height: 36px;
    font-size: 12px;
}

}
@media all and (max-width: 900px){
.product-ul {
    width: 100%;}

}
@media all and (max-width: 850px){
.four-div {
	margin-right:2%;}	
.footer-menu{
	display:none;}

}

@media all and (max-width: 800px){
.h1 {
    font-size: 27px;
}
.small-success {
    font-size: 14px;
}
.white-border {
    width: 90px;}
.top-title {
    font-size: 15px;
    margin-top: 5px;
}
.notice-modal-content {
    width: 75%;
}
.ann-title-p {
    font-size: 15px;}
.ann-content-p {
    font-size: 13px;
}
.ann-date-p {
    font-size: 11px;}
.center-logo {
    width: 100px;
}
.h1 {
    font-size: 18px;
}
.login-h1 b {
    font-size: 21px;
}
.flower-img1, .flower-img2 {
    width: 50px;
}
.same-dual-button {
    padding: 8px;
    font-size: 12px;
}
.ref-link {
    font-size: 14px;}
.delete-button{
	font-size:14px;}
.delete-png {
    width: 15px;
}
.empty-h1{
	font-size:24px;}
}
@media all and (max-width: 750px){
.white-card-div {
    width: 100%;
	margin-bottom:10px;
	padding-left:10px;
	padding-right:10px;}
.card-left-p {
    width: calc(100% - 120px);
	font-size:14px;
}
.white-card-div .line-button {
    padding: 2px 0;
}
.margin-top17 {
    margin-top: 12px;
}

}
@media all and (max-width: 700px){
.rec-input, .fake-input-div2, .edit-profile-width {
    width: 100%;
	margin-left:0;}
.mid-btn-row {
    margin-left: 0;
    margin-right: 0;
}
.three-btn-row {
	margin-left:auto;
	margin-right:auto;
    display: block;
	margin-bottom: 10px;}
.ow-mid-flex {
    margin-left: auto !important;
    margin-right: auto !important;
}
.width550-div {
    width: 100%;
}
.ow-flex-three {
    width: 100% !important;
}
.text-area-height {
    min-height: 250px;
}
.five-btn {
    width: 47.5%;
    float: none;
    display: inline-block;
    margin-right: calc(5% - 5px);
}
.five-second{
	margin-right:0 !important;}
.first-flex {
    display: block;
}
.ow-flex-three2 {
    width: 45%;
    margin-right: calc(4% - 1px);
    margin-bottom: 30px;
    display: inline-block;
}
.middle-div-width {
    width: 100%;
}
.dual-input {
    width: 100%;
    float: none;
    margin-left: 0;}
.ow-700-center .top-p, .ow-700-center .line-input{
	text-align:center;	
}
.small-term {
    font-size: 11px;
    width: 100%;}
.yellow-btn {
    font-size: 15px;}
.thankyou-p {
    font-size: 18px;
}
}
@media all and (max-width: 650px){
.green-border-box {
    border: 5px solid #48b5bd;
    padding: 5px;}
.four-div {
    width: 30.5%;
}
.product-box1 {
    width: calc(46% - 3px);
    margin-right: 4%;
}
}
@media all and (max-width: 600px){
.login-div {
    width: 90%;
}
.upload-modal-content{
	width:85%;}	
.small-btn{
	width:100%;
	margin-left:0;}
.upload-h1{
	font-size:20px;}
.file-css {
    margin-left: 0;}
.tur-table{
	font-size:12px;}
.oz-btn {
    width: 20px;
    height: 20px;
    border-radius: 12px;}
.icon-size {
    width: 18px;
}
.table-padding{
	padding-left:1%;
	padding-right:1%;}
.date-p3{
	text-align:center;}
.ow-width-45 {
    width: 100% !important;
    display: block;
    margin-left: 0 !important;
}
.middle-center-button {
    width: 100%;
}
/*.inner-padding {
    padding-bottom: 360px;
}*/
.product-bottom{
	display:none;}
.footer-menu {
    display: block;
}

.gold-table th, .gold-table td, .gold-table u {
	font-size:10px;}
.thankyou-div {
    width: 90%;
}
}
@media all and (max-width: 550px){
.fake-table-header {
    font-size: 12px;}
.product-table-p {
    font-size: 12px;}
.middle-product-details {
    width: 50px;
}
.last-product-details {
    width: 80px;
}
.left-product-details {
    width: calc(100% - 230px);
}
.price2-div {
    width: calc(100% - 80px);}	
}
@media all and (max-width: 500px){
.right-profile-div {
    display: block;
    width: 100%;
    margin-right: 0;
    float: none;
    text-align: center;
}
.profile-img-div {
    margin-left: auto;
    margin-right: auto;
}	
.line-button{
	width:150px;
	margin-left:auto;
	margin-right:auto;}
.left-profile-detail {
    float: none;
    display: block;
    width: 100%;}
.left-profile-detail2 {
    max-width: 100%;
    text-align: center;
    width: auto;
}
.profile-table {
    width: 100%;
	margin-top: 10px;
	font-size: 12px;
}
.card-left-p {
    font-size: 12px;
}
.white-card-div .line-button {
    padding: 2px 0;
    font-size: 12px;
    margin-top: 7px;
	width: 70px;
}
.white-card-div .edit-icon {
    width: 10px;
    margin-top: 3px;
	margin-right: 5px;
}
.card-left-p {
    width: calc(100% - 90px);}
.rec-input {
	font-size:14px;}
.ow-float-right2 p, .ow-float-right2 h3 {
    text-align: center;
}
.three-btn-row {
	width:100%;}
.center-icon {
    width: 120px;
}
.center-div-h3 {
    font-size: 21px;
}
.value-h1 {
    font-size: 48px;}
.notice-h1 {
    font-size: 27px;
}
.notice-message {
    font-size: 13px;
}
.margin-top17 {
    margin-top: 9px;
}
.five-btn, .five-btn div {
	font-size: 11px;
}
.ow-product-ul {
    width: 100% !important;
}
.mid-cen{
	width:100%;}
.logo {
    width: 200px;}
.ow-flex-three2 {
    width: 100%;
    margin-right: 0;}
.first-flex{
	width:100%;}
.three-div-inner {
	min-height:0;
	padding-bottom:40px;}
.same-dual-button {
    width: 100%;
	margin-right:0;}
}
@media all and (max-width: 450px){
.inner-green-box img {
    padding: 5%;
}
.green-border-box p {
    font-size: 11px;
    padding-top: 5px;}
.four-div {
    width: calc(30.5% - 2px);
}
.top-title {
    font-size: 13px;
    margin-top: 5px;
}
.product-box1 {
    width: 100%;
    margin-right: 0;
}
.cart-button {
    width: 250px;
}
}
@media all and (max-width: 400px){
.login-div {
    width: 100%;
}
.four-div {
    width: calc(45.5% - 2px);
    margin-right: 4%;
}	
.five-btn, .five-btn div {
	font-size: 9.5px;
}
.left-product-details {
    width: 120px;
}
.price2-div {
    width: 270px;}
.cart-big-div{
	width:350px !important;
	overflow:auto;}
.cart-big-div2{
	overflow:auto;}
.confirm-btn {
    width: 200px;
    font-size: 16px;
    margin-left: calc(50% - 100px);}
}

